{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'offline.html.twig' %}

{% block content %}

    <h2>{{ __('Page Offline', 'g5_denali') }}</h2>
    <p>{{ __( 'Offline Message!', 'g5_denali' ) }}</p>

{% endblock %}
