i.breeding::before {content: url(/assets/lvspa/breeding.png);}
i.meat::before {content: url(/assets/lvspa/meat.png);}
i.pelts::before {content: url(/assets/lvspa/pelts.png);}
i.project-market-lambs::before {content: url(/assets/lvspa/project-market-lambs.png);}
i.ram-leasing::before {content: url(/assets/lvspa/ram-leasing.png);}
i.raw-wool::before {content: url(/assets/lvspa/raw-wool.png);}
i.shearing::before {content: url(/assets/lvspa/shearing.png);}
i.tours::before {content: url(/assets/lvspa/tours.png);}
i.wearables-fiber::before {content: url(/assets/lvspa/wearables-fiber.png);}
i.yarn-roving::before {content: url(/assets/lvspa/yarn-roving.png);}