#heath-articles .g-content-array .g-array-item-details {display:none;}
#heath-articles .g-content-array .g-grid {margin-bottom:0;}
#heath-articles .g-content-array .g-content {padding-bottom:0;}
#heath-articles .g-content-array .g-item-title {font-size:1rem;}