#g-footer {
    position: relative;
    background: $footer-background;
    color: $footer-text-color;

    .g-grid {
        position: relative;
        z-index: 1;
    }

    // Simplemenu particle
    .g-simplemenu-particle {
        @include flex-wrap(wrap);
        @include flex-direction(row);

        .g-simplemenu-container {
            h6 {
                color: fadeout($footer-text-color, 40%);
                letter-spacing: 3px;
            }

            a {
                color: $footer-text-color;

                &:hover {
                    color: $white;
                }
            }

            @include breakpoint(mobile-only) {
                width: 50%;

                h6 {
                    margin: $content-margin*2 0;
                }
            }

            @include breakpoint(small-mobile-range) {
                width: 100%;
            }
        }
    }

    // Newsletter Particle
    .g-newsletter-particle {
        .title {
            color: $white;
        }

        .g-newsletter-stack {
            .g-newsletter-form-wrapper { 
                .g-newsletter-inputbox { 
                    input {
                        text-align: center;
                    }
                }
                 .g-newsletter-button {
                    margin-left: 0;
                }
            }
        }

        .g-newsletter-form-wrapper {
            margin: 0 auto;
            padding-bottom: 10px;
            width: 30%;

            @include breakpoint(tablet-range) {
                width: 50%;
                flex-direction: row;
            }

            @include breakpoint(mobile-only) {
                width: 100%;
                flex-direction: row;
            }

            .g-newsletter-inputbox {
                width: auto;
                flex: 1;
                border-bottom: 2px solid transparentize($grey, 0.5);

                input {
                    padding: 0.725rem .4rem;
                    background: transparent;
                    border-radius: 0;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .g-newsletter-button {
                @include flex(0 1 auto);
                margin-left: 2rem;
                border-bottom: 2px solid transparentize($accent-color-1, 0.5);
                transition: .3s ease;

                .dir-rtl & {
                    margin-left: 0;
                    margin-right: 2rem;
                }

                .button {
                    padding: 0.725rem .4rem;
                    font-size: $core-font-size;
                    line-height: 1.5;
                    background: transparent;
                    border-radius: 0;
                    border-bottom: 0;
                    color: transparentize($accent-color-1, 0.25);
                    font-weight: $font-weight-semibold;
                }

                &:hover {
                    border-color: lighten($accent-color-1, 10%);

                    .button {
                        color: lighten($accent-color-1, 10%);
                    }
                }
            }
        }
    }
}

@media print {
    #g-container-footer {
        background: #fff !important;
        color: #000 !important;
    }
}
