.g-blockcontent-header {
    @include breakpoint(mobile-only) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
}

.g-blockcontent-subcontent-title {
    margin: $content-margin 0;
}

.g-blockcontent-subcontent-title-icon {
    display: block;
    margin-bottom: $content-margin;
    font-size: $core-font-size + 0.2;
}

.g-blockcontent-subcontent-title-text {
    font-weight: $font-weight-regular;
    font-size: $core-font-size + 0.8;
    margin-top: 0;
    margin-bottom: $content-padding - 0.5;
}

.g-blockcontent-subcontent {
    margin: -($content-margin + $content-padding);

    @include breakpoint(mobile-only) {
      margin: -$content-margin;
    }

    .g-blockcontent-spacing & {
        margin: -$content-margin 0;
    }
}

.g-blockcontent-subcontent-block {
    margin: $content-margin;
    margin-right: 0;
    height: 100%;
    &.g-blockcontent-subcontent-block-accent1 {
        background: $accent-color-1;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            right: -$content-margin;
            top: $content-margin;
            border: 2px solid $accent-color-1;

        }
    }
    &.g-blockcontent-subcontent-block-accent2 {
        background: $accent-color-2;
    }
}

.g-blockcontent-subcontent-subtitle {
    font-family: get-font-family($font-family-default);
    font-weight: $font-weight-regular;
    font-size: $core-font-size - 0.3;
    vertical-align: super;
}

.g-blockcontent-subcontent-desc {
    font-family: get-font-family($font-family-default);
    font-weight: $font-weight-light;
    font-size: $core-font-size + 0.2;
    position: relative;
    margin: $content-margin 0;
    line-height: $core-line-height - 0.1;

    i {
        margin-top: $content-margin;
    }
}

.g-blockcontent-subcontent-img {
    border-radius: $border-radius;
}

.g-blockcontent-description {
    font-family: get-font-family($font-family-default);
    font-size: $core-font-size;
    font-weight: $font-weight-light;
}

.g-blockcontent-buttons {
    margin-top: $content-padding;
}
