.g-carousel {
    .owl-item {
        position: relative;

        .g-carousel-item {
            .g-carousel-image-wrapper {
                .g-carousel-image-link {
                    position: relative;
                    display: block;
                    color: $white;

                    &:hover {
                        color: transparentize($white, 20%);
                    }

                    // Title
                    .g-carousel-title {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        margin: auto;
                        padding: 0 10%;
                        @include transform(translateY(-50%));
                        font-weight: $font-weight-black;
                        @include responsive-font($responsive-font-size + 2.25, $core-font-size + 1, false, false);
                        text-align: center;
                        line-height: $core-line-height - 0.5;
                    }

                    img {
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }

    // Prev & Next Controls
    .owl-nav {
        margin-top: $content-padding;
        margin-bottom: $content-margin;
        text-align: center;

        > div {
            position: relative;
            text-align: center;
            opacity: 1;
            width: 60px;
            height: 60px;

            .fa {
                width: 100%;
                @include responsive-font($responsive-font-size + 0.5, $core-font-size + 0.5, false, false);
                font-weight: $font-weight-regular;
                line-height: 1.5;
            }

            &:hover {
                color: $accent-color-1;
            }
        }

        .owl-prev {

        }

        .owl-next {

        }
    }
}
