.g-casestudies {
    position: relative;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    // Header
    .g-casestudies-header {
        position: relative;
        @include display(flex);
        @include align-items(center);
        margin-bottom: ($content-padding * 2);

        @include breakpoint(mobile-only) {
            display: block;
        }

        // Title
        .g-casestudies-title {
            display: block;
            @include responsive-font($responsive-font-size + 1, $core-font-size, false, false);
            font-weight: $font-weight-bold;
            color: $black;
            padding-right: $content-padding;

            @include breakpoint(mobile-only) {
                text-align: center;
                padding-right: 0;
            }

            .dir-rtl & {
                padding-left: $content-padding;
                padding-right: 0;
            }

            // Upper Title
            .g-casestudies-uppertitle {
                display: block;
                padding-right: $content-padding;
                color: transparentize($base-text-color, 65%);
                @include responsive-font($responsive-font-size - 0.1, $core-font-size - 0.1, false, false);
                font-weight: $font-weight-semibold;
                line-height: 1.5;
                letter-spacing: 5px;
                text-transform: uppercase;

                @include breakpoint(mobile-only) {
                    text-align: center;
                    padding-right: 0;
                }

                .dir-rtl & {
                    padding-left: $content-padding;
                    padding-right: 0;
                }
            }
        }

        // Navigation
        .g-casestudies-nav {
            position: relative;
            @include flex(1 0 auto);
            @include align-self(center);

            i {
                display: none;
                position: absolute;
                top: 1rem;
                left: $content-margin;

                @include breakpoint(mobile-only) {
                    display: block;
                }
            }

            // Mobile menu
            @include breakpoint(mobile-only) {
                min-height: 6rem;
                width: 100%;
            }

            .g-casestudies-nav-container {
                @include display(flex);
                @include justify-content(flex-end);

                // Mobile menu
                @include breakpoint(mobile-only) {
                    @include flex-direction(column);
                    width: 75%;
                    padding: 5px 0;
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    border: solid 1px #aaa;
                    background: $white;
                    z-index: 15;
                    margin-top: 1rem;
                }
            }

            // Item
            .g-casestudies-nav-item {
                cursor: pointer;
                padding: $content-margin $content-padding;
                margin-right: $content-margin;
                @include responsive-font($responsive-font-size, $core-font-size, false, false);
                font-weight: $font-weight-semibold;
                color: darken($base-text-color, 10%);
                position: relative;
                border-radius: 24px;

                &.selected, &:hover {
                    color: $button-text-color;
                    background: $button-background-color;

                    @include breakpoint(mobile-only) {
                        background: none;
                        color: $black;
                    }
                }

                @include breakpoint(mobile-only) {
                    display: none;
                    padding: $content-margin - 0.2 $content-padding + 0.5;
                }

                &.selected {
                    @include breakpoint(mobile-only) {
                        display: block;
                    }
                }

                &.clicked {
                    display: block;
                }
            }
        }
    }

    // Grid Settings
    .g-casestudies-grid {
        position: relative;
        margin: 0 -($content-padding - 0.5);
        overflow: visible !important;

        // Item & Item content
        .g-casestudies-grid-item {
            cursor: pointer;
            will-change: auto !important;

            a.g-casestudies-link-overlay {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                top: 0;
            }

            .g-casestudies-grid-item-wrapper {
                margin: $content-padding - 0.5;
                position: relative;
                @include display(flex);
                @include flex-direction(column);
                @include transition(all 0.25s);

                .g-casestudies-grid-item-image {
                    position: relative;

                    img {
                        min-height: 1px;
                        @include transition(all 0.25s);
                    }

                    &:before {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        content: '';
                        top: 0;
                        z-index: 2;
                        @include transition(background-color 0.5s);
                    }
                }

                // Layouts
                &.g-casestudies-layout-default-bottom {
                    .g-casestudies-grid-item-content {
                        bottom: 0;
                    }
                }

                &.g-casestudies-layout-alt-top, &.g-casestudies-layout-alt-bottom {
                    .g-casestudies-grid-item-content {
                        position: static;
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;

                        .g-casestudies-grid-item-title {
                            color: $black;
                        }

                        .g-casestudies-grid-item-subtitle {
                            position: absolute;
                            top: 0.8rem;
                            margin: 0 $content-margin + 0.35;
                            padding: 0.35rem;
                            background: $accent-color-1;
                        }

                        .g-casestudies-grid-item-description {
                            color: darken($base-text-color, 20%);
                        }
                    }
                }

                &.g-casestudies-layout-alt-top {
                    .g-casestudies-grid-item-content {
                        margin-top: 0;

                        .g-casestudies-grid-item-subtitle {
                            position: relative;
                            top: 0;
                            margin: 0;
                            margin-bottom: 5px;
                            color: $base-text-color;
                        }
                    }
                }

                &.g-casestudies-layout-alt-bottom {
                    @include flex-direction(column-reverse);
                }
            }

            .g-casestudies-grid-item-content {
                position: absolute;
                margin: $content-padding;
                width: 82%;
                left: 0;
                text-align: left;
                z-index: 3;
                @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
                @include transition(color 0.5s);

                .dir-rtl & {
                    text-align: right;
                }

                .g-casestudies-grid-item-title {
                    color: $white;
                    font-weight: $font-weight-semibold;
                    @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
                    line-height: $core-line-height - 0.4;
                }

                .g-casestudies-grid-item-subtitle {
                    color: $white;
                    font-weight: $font-weight-semibold;
                    @include responsive-font($responsive-font-size - 0.3, $core-font-size, false, false);
                }

                .g-casestudies-grid-item-description {
                    color: $white;
                    margin-top: ($content-margin + 0.5);
                    @include responsive-font($responsive-font-size - 0.1, $core-font-size, false, false);
                }

                .g-casestudies-grid-item-button {
                    display: block;
                    margin-top: 5px;
                    color: darken($base-text-color, 40%);
                    @include responsive-font($responsive-font-size - 0.2, $core-font-size, false, false);
                }
            }

            &:hover {
                .g-casestudies-grid-item-wrapper {
                    .g-casestudies-grid-item-title {
                        text-shadow: 0 2px 4px transparentize($black, 75%);
                    }

                    .g-casestudies-grid-item-image {
                        &:before {
                            background-color: transparentize($accent-color-1, 75%);
                        }
                    }

                    .g-casestudies-grid-item-button {
                        text-decoration: underline;
                    }
                }
            }
        }

        // Column layout
        // 2 Columns
        &.cols-2 {
            .g-casestudies-grid-item, .g-casestudies-grid-sizer {
                width: 50%;

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }
        // 3 Columns
        &.cols-3 {
            .g-casestudies-grid-item, .g-casestudies-grid-sizer {
                width: 33.3%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }
        // 4 Columns
        &.cols-4 {
            .g-casestudies-grid-item, .g-casestudies-grid-sizer {
                width: 25%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }
        // 5 Columns
        &.cols-5 {
            .g-casestudies-grid-item, .g-casestudies-grid-sizer {
                width: 20%;

                @include breakpoint(tablet-range) {
                    width: 50%;
                }

                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }
        }
    }
}

