// Carousel Styling
.g-slider {
    position: relative;
    .g-slider-slides {
        .g-slider-slides-slide {
            @include display(flex);
            @include breakpoint(mobile-only) {
                flex-direction: column;
            }
            .g-slider-slides-content {
                width: 40%;
                margin-top: 10rem;
                padding: 0 $content-padding * 4;
                @include breakpoint(tablet-range) {
                    padding: 0 $content-padding * 2;
                    width: 50%;
                }
                .dir-rtl & {
                    margin-right: ($content-margin + $content-padding);
                    margin-left: auto;
                }
                @include breakpoint(mobile-only) {
                    z-index: 3;
                    text-align: center;
                    margin-top: $content-padding;
                    padding: 0 5%;
                    width: 100%;
                }
                h1 {
                    font-size: $h1-font-size + 0.8;
                    margin-top: 0;
                    padding-top: 0;
                }
                p {
                    font-size: $core-font-size + 0.1;
                }
            }
            .g-slider-slides-image {
                min-height: 500px;
                @include breakpoint(mobile-only) {
                    min-height: 300px;
                }
                width: 60%;
                @include breakpoint(tablet-range) {
                    width: 50%;
                }
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                @include breakpoint(mobile-only) {
                    width: 100%;
                    position: absolute;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 10vw;
                    @include breakpoint(mobile-only) {
                        height: 100%;
                    }
                    @include linear-gradient(bottom, $slideshow-background 0%, rgba(15, 15, 15, 0) 50%);
                    @include breakpoint(mobile-only) {
                        background-color: transparent !important;
                        @include linear-gradient(bottom, $slideshow-background 0%, rgba(15, 15, 15, 0) 130%);
                    }
                    background-color: transparent;
                }
            }
        } // Dots
        .owl-dots {
            width: 40%;
            position: absolute;
            top: 12rem;
            @include breakpoint(tablet-range) {
                width: 50%;
            }
            left: 0;
            padding-right: $content-padding;
            @include breakpoint(mobile-only) {
                display: none;
            }
            @include display(flex);
            @include align-items(flex-end);
            flex-direction: column;
            .owl-dot {
                border-radius: 100%;
                background: transparent;
                border: 2px solid $white;
                width: 12px;
                height: 12px;
                margin: 0.2rem;
                &.active {
                    background: $white;
                }
            }
            .dir-rtl & {
                left: auto;
                right: 0;
            }
        }
    }
    .g-slider-carousel {
        padding: 0 $content-padding * 3;
        position: relative;
        bottom: 0rem;
        @include breakpoint(mobile-only) {
            bottom: 0rem;
            padding-top: $content-padding;
        }
        z-index: 3;
        .dir-rtl & {
            right: 2rem;
            left: auto;
        }
        .owl-stage {
            @include display(flex);
        }
        &[data-slider-carousel-nav="true"] {
            .owl-stage-outer {}
        } //Item
        .owl-item {
            outline: none;
            cursor: pointer;
            padding-top: 1rem;
            img {
                @include transition(all 1s);
                z-index: 1;
                position: relative;
            }
            .g-slider-carousel-title {
                margin: $content-margin;
                font-weight: $font-weight-semibold;
            }
            .g-slider-carousel-image-container {
                background: transparent;
                margin: $content-margin;
                height: 120px;
                background-size: cover;
                position: relative;
                z-index: 0;
                transform: translateY(0);
                @include transition(all 0.35s ease-in-out);
                &:before {
                    content: '';
                    height: 0;
                    bottom: 0;
                    position: absolute;
                    background: $accent-color-1;
                    width: 100%;
                    @include transition(all 0.35s);
                    transition-delay: 0.30s;
                }
            } // Hover State
            &:hover,
            &.owl-current {
                .g-slider-carousel-image-container {
                    transform: translateY(-1rem);
                    img {
                        padding-bottom: 10px;
                        background: $accent-color-1;
                        @include transition(all 0.2s);
                    }
                    &:before {
                        height: 10px;
                    }
                }
            }
        } // Prev & Next Controls
        .owl-nav {
            >div {
                position: absolute;
                margin: auto;
                text-align: center;
                bottom: 0;
                top: -4rem;
                left: 0;
                right: 0;
                opacity: 1;
                .fa {
                    font-size: $core-font-size + 0.5;
                    font-weight: $font-weight-regular;
                }
                &:hover {
                    color: fadeout($white, 40%);
                }
            }
            .owl-prev {
                margin-left: 10px;
                left: 0;
                right: auto;
                .dir-rtl & {
                    margin-right: 10px;
                    right: 0;
                    left: auto;
                    .fa-chevron-left {
                        &:before {
                            content: "\f054";
                        }
                    }
                }
            }
            .owl-next {
                margin-right: 10px;
                left: auto;
                right: 0;
                .dir-rtl & {
                    margin-left: 10px;
                    left: 0;
                    right: auto;
                    .fa-chevron-right {
                        &:before {
                            content: "\f053";
                        }
                    }
                }
            }
        }
    }
}