#g-feature {
    color: $feature-text-color;
    background: $feature-background;
    position: relative;
}

@media print {
    #g-feature {
        background: #fff !important;
        color: #000 !important;
    }
}