#g-showcase {
    color: $showcase-text-color;
    background: $showcase-background;
    position: relative;
}

@media print {
    #g-showcase {
        background: #fff !important;
        color: #000 !important;
    }
}
