#g-header {
    color: $header-text-color;
    background: $header-background;
    position: relative;
    z-index: 5;
}

@media print {
    #g-header {
        background: #fff !important;
        color: #000 !important;
    }
}