.g-categorylist {
    @include breakpoint(tablet-range) {
        margin-left: $content-padding * 2
    }
    @include breakpoint(mobile-only) {
        text-align: center;
    }
    h2 {
        color: $accent-color-2;
        font-size: $core-font-size - 0.1;
        font-weight: $font-weight-regular;
        letter-spacing: 1px;
    }

    a {
        display: block;
        color: $accent-color-2;
        @include responsive-font($responsive-font-size + 0.8, $core-font-size + 0.5, false, false);
        font-weight: $font-weight-regular;

        &.featured {
            @include responsive-font($responsive-font-size + 1.3, $core-font-size + 0.5, false, false);
            color: $black;
            font-weight: $font-weight-bold;
        }

        &:hover {
            color: $accent-color-2;
            text-decoration: underline;
        }

        &.g-categorylist-link {
            color: $accent-color-1;
            font-weight: $font-weight-extrabold;
            padding-bottom: 0.2rem;
            @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
            border-bottom: 4px solid $accent-color-1;
            display: inline-block;
            margin-top: $content-padding;

            &:hover {
                text-decoration: none;
                color: $accent-color-2;
                border-color: $accent-color-2;
            }
        }
    }
}